<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @route.location %>
</p>

<p>
  <strong>Level:</strong>
  <%= @route.level %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @route.comments %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
